<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lawyers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0AB6A031F3A737C004AD54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0AB6A191F3A737C004AD54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0AB6A241F3A737C004AD54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
